<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="YouTubeSimplify.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <YouTubeSimplify.Properties.Settings>
            <setting name="FolderPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="FFmpegPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="DecryptionFunctionRegex" serializeAs="String">
                <value/>
            </setting>
            <setting name="MinimizeToSystemTray" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GetInformationAuto" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BringWindowToTopWhenLinkCopied" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NotifyDownloaded" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NotifyConverted" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ChangeAlbumInfoAfterDownload" serializeAs="String">
                <value>False</value>
            </setting>
        </YouTubeSimplify.Properties.Settings>
    </userSettings>
</configuration>
